.h1 {
    background-color: #6122b9;
    color: white;
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
    margin: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 0 1rem rgba(255, 255, 255, 0.5);
    text-decoration: none;
}