header {
    display: block;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    background-color: #3b82f6;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

ul li a {
    text-decoration: none;
    color: #fff;
}

ul li a:hover {
    cursor: pointer;
    color: #fff;
    text-decoration: underline;
    transition: all 0.3s ease;
    text-decoration-color: #fff;
    text-decoration-thickness: 2px;
}