.search-box {
    display: flex;
    margin: 1rem auto;
    max-width: 250px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 0.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    color: 6122b9;
    text-align: center;
}